
#top .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    align-items: center;

}

#top .info {
    padding: 15px;
    position: relative;
}

#top .info .blue-square {
    border: 20px solid #dbf1ff;
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 0;
    top: -50%;
    left: -40%;
}

#top .info h1 {
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #16171b;
    margin-bottom: 1rem;
    z-index: 1;
}

#top .info p {
    position: relative;
    color: #919191;
    text-transform: capitalized;
    margin-bottom: 4rem;
    z-index: 1;
}

#top .info a {
    position: relative;
    color: #16171b;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    text-transform: uppercase;
    z-index: 1;
    font-size: .9rem;
    letter-spacing: 2px;
}

#top .img .background-img {
    background: url('https://cdn.images.express.co.uk/img/dynamic/130/590x/secondary/Sadie-Newman-Victoria-Secret-model-1502651.jpg?r=1536843457484');
    background-position: top center;
    background-repeat: no-repeate;
    background-size: cover;
    width: 100%;
    max-width: 500px;
    height: 700px;
    margin: 0 auto;
    
    
}


/*###################-------------------------RESPONSIVE*/
 
/*Tablets */
@media only screen and(max-width:960px){
 
    
}


/*Phones */
@media only screen and (max-width: 767px){
  #top .container{
    padding:0px 0 80px;
    
}
    #top .info .blue-square{
        display:none;
    }
    
    #top .img .background-img{
        height: 100vh;
    }
}